1. Posiadam wiedzę lub wykształcenie w zakresie instrumentów pochodnych nabyte poprzez:
<ul>
    <li>uczestnictwo w kursach on-line,</li>
    <li>szkoleniach stacjonarnych,</li>
    <li>korzystanie z materiałów edukacyjnych,</li>
</ul>
lub działalność związaną z inwestowaniem w instrumenty pochodne analogiczne do tych oferowanych przez TMS Brokers (np.  kontrakty CFD).